
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Saira+Condensed&display=swap');

$MainFont: 'Saira Condensed', sans-serif;
$primaryColor: #000;
$secondaryColor: #fff;
$contrastColor: #407bff;